body{
  background-color: #CAFFD4;
  font-family: 'Cormorant Garamond', serif;
}


#canvas{

	display: block;

  position: absolute;
}
#quote {
    color: white;
    text-align: center;
    background-color: #D094A1;
}

#logo{
  width:40px;
  height: 40px;
  vertical-align: middle;
  padding:5px;
}

#about{
  text-align: center;
}

#abouttwo{
      margin-top: 30px;
      text-align: left;
      font-size:  calc(0.4em + 0.9vw);
      font-weight: 1000;

}

#about h2{
  font-size: calc(1em + 1vw);
	font-weight: 500;
}



#about a {

  color:black;
}
#about a:hover {

  color:blue;
  text-decoration: none;
}


.link{
  color:black;
  text-decoration: underline;

}
.typewriter {
  font-family: 'Cormorant Garamond', serif;
	display: inline-block;
}

.typewriter-text {

    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 3px;
 	  animation: typing 5s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    border-right: 4px solid black;
    box-sizing: border-box;
}

/* @keyframes typing {
    from {
        width: 0%
    }
    to {
        width: 100%
    }
}

@keyframes blink {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
} */

.profile {
  border-radius:50%;
  width:300px;
  height:300px;
  float:right;

}

.link {
  text-align: center;
  color:blue;
  text-decoration: none;
}


.link a:hover {

  text-decoration: none;
}
